@page
@model AspNet_RazorPages.Pages.Students.DetailsModel

@{
    ViewData["Title"] = "Detalhes do aluno";
}

<h1>Detalhes do aluno</h1>

<div>
    <h4>Student</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ViewModel.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ViewModel.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ViewModel.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ViewModel.Email)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.ViewModel?.Id">Editar</a> |
    <a asp-page="./Index">Retornar aos alunos</a>
</div>
